
/* BODY */
body { 
	margin:0;
	padding:0; 
}

/* MAP LAYOUT */
#map {
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
	z-index:1;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

/* INPUT WINDOW FOR ADDRESS INPUT */
#input-div {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}

#inputs {
	position:absolute;
	top:20px;
	left:20px;
	width:245px;
	z-index:2;
}

#start {
	position:absolute;
	top:20px;
	left:20px;
}

#end {
	position:absolute;
	top:55px;
	left:20px;
}

#clock {
	position:absolute;
	top:-15px;
	left:20px;
}

#startRouting {
	position:absolute;
	top:90px;
	left:20px;
	width:245px;
}

#OK-Buttons {
	position:absolute;
	top:0px;
	left:287px;
	z-index:3;
}

#clockOK{
	position:absolute;
	top: 6px;
	left:0px;
	height:30px;
}

#startOK {
	position:absolute;
	top:42px;
	left:0px;
	height:30px;
}

#endOK {
	position:absolute;
	top:78px;
	left:0px;
	height:30px;
}

#datetime {
	position:absolute;
	top:-17px;
	left:27px;
	z-index:2;
	width:250px;
}

#date {
	position:absolute;
	height:35px;
	left:0px;
	top:0px;
}

#time {
	position:absolute;
	height:35px;
	left:160px;
	top:0px;
}


/* BUTTONS ON THE RIGHT BOTTOM */
#backForward {
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:2;
}

#endOfRouting, #endOfRoutingAndDanger {
	position:absolute;
	background-color:red;
	color:blue;
	bottom:0px;
	right:0px;
	z-index:2;
}

#backToTutorial {
	position:absolute;
	bottom:0px;
	right:70px;
	z-index:2;
}


/* BUTTON FOR REMOVING EVERYTHING */
#removeAllMarkers,#backToRouting{
	position:absolute;
	top:10px;
	right:10px;
	width:100px;
	z-index:2;
}


/* INPUTS FOR FIRST INSERTION */
#firstInput{
	position:absolute;
	width:80%;
	height:20%;
	top:30%;
	left:10%;
	z-index:2;
}

#fstart,#fend,#famount{
	position:absolute;
	width:80%;
	height:100%;
	left:0px;
	top:0px;
	text-align: center;
	font-size:50px;
}

#fstartOK,#fendOK,#fclockOK,#famountOK{
	position:absolute;
	left:82%;
	top:0px;
	height:100%;
	width:auto;
}

#fdate{
	position:absolute;
	width:50%;
	height:100%;
	left:0px;
	top:0px;
	text-align:center;
	font-size:50px;
}

#ftime{
	position:absolute;
	width:30%;
	height:100%;
	left:52%;
	top:0px;
	text-align:center;
	font-size:50px;
}

#fstartRouting{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	text-align:center;
	font-size:80px;
	background-color:red;
	color:blue;
}

/* CHOICE OF TRANSPORTATION */
#transportation {
	position: absolute;
	width:100px;
	height:50%;
	right:20px;
	top:11%;
	z-index:3;
}

#dotBox {
	position:absolute;
	height:110%; 
	width:110%;
	top:-40px;
	left:5px;
	z-index:-1;
}

#foot {
	position: absolute;
	width:65%;
	height:auto;
	right:10px;
	top:0%;
}

#bike {
	position:absolute;
	width:80%;
	height: auto;
	right:0px;
	top:20%;
}

#car {
	position:absolute;
	width:80%;
	height: auto;
	right:0px;
	top:40%;
}

#bus {
	position:absolute;
	width:80%;
	height: auto;
	right:0px;
	top:58%;
}

#underground {
	position:absolute;
	width:70%;
	height:auto;
	right:5px;
	top:79%;
}

#rectangle{
	position:absolute;
	width:100%;
	height: auto;
	right:-10px;
	top:-4%;
	z-index:-1;
}

/* DANGER REPORT */
#dangerReport {
	position:absolute;
	width:60%;
	height:38%;
	left:20%;
	top:20%;
	z-index:-1;
	background-color:red;
	text-align:center;
	font-size:50px;
	color:black;
}





