
/* BODY */
body {
	margin:0px;
	padding:0px;
	background-color:yellow;
}

h3 {
	text-align: center;
}

p.serif {
	font-family: "Times New Roman", Times, serif;
}

p.sansserif {
	font-family: Arial,Helvetica,sans-serif;
}

/* HEADER */
#header {
	position:absolute;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	top:30px;
	text-align:center;
	z-index:2;
	background-color:blue;
	color:white;
}

#firstWords {
	position:absolute;
	width:80%;
	left: 80px;
	top:150px;
	z-index:1;
	background-color:red;
}


/* TUTORIAL */
#tutorial {
	position:absolute;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	top:230px;
	text-align:center;
	z-index:2;
	background-color:green;
}

#unfilled {
	position:absolute;
	width:90%;
	left:50px;
	height:300px;
	z-index:2;
	background-color:white;
}

#unfilledPic {
	position:absolute;
	left:0px;
	top:0px;
	width:48%;
	height:100%;
	background-color:black;
}

#unfilledText {
	position:relative;
	left:52%;
	top:0px;
	height:100%;
	width:52%;
	background-color:black;
}


/* FOOTER */
#beginRouting {
	position:absolute;
	width:80%;
	left:80px;
	bottom:100px;
	z-index:1;
	background-color:white;
}

#backToRouting {
	position:absoulte;
	width:80%;
	left:80px;
	bottom:50px;
	text-align:center;
	z-index:2;
}

#toRouting {
	position:absolute;
	width:250px;
	height:50px;
	font-size:25px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:2;
}


/* Contact & About */
#contactAndAbout {
	position:absolute;
	width:150px;
	height:27px;
	right:10px;
	bottom:10px;
	z-index:2;
	background-color:orange;
}



